solace-agent-mesh==1.14.0
solace-ai-connector==3.3.0
solace-pubsubplus==1.9.0
vanna==0.7.9
SQLAlchemy
pandas
protobuf
python-dotenv
google-genai
google-cloud-firestore
chromadb==0.6.3
plotly
pyodbc==5.3.0
google-generativeai